Flask==0.9
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Jinja2==2.6
MarkupSafe==0.23
SQLAlchemy==0.7.9
TwitterSearch==1.0.0
WTForms==1.0.2
Werkzeug==0.8.3
gunicorn==19.1.1
itsdangerous==0.24
oauthlib==0.7.1
requests==2.4.3
requests-oauthlib==0.4.2
wsgiref==0.1.2
