body {
	background-color: #04162b;
	color: #FFFFFF
}

.navbar-inverse {
	background-color: #000b17;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.note{
	padding-left: 50px;
	color: #FFFFFF;
}

.map{

}

.header{
	margin-bottom: 25px;
}

.icon{
	float:left;
}

.type{
	margin-left: 25px;
	padding-top: 5px;
}

img.icon{
	height: 30px;
	padding-right: 30px;
	padding-left: 30px;
}

.headline{
	margin-top: 25px;
	margin-bottom: 25px;
}

.summary{
	
}

.post-time{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
}

.share{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.attribution{
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 8px;
}

#map_canvas {
	height: 400px;
	width: 100%;
}