{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}

<div class="notepage">

	<!-- The template for the aurora note. -->

	<div class="col-sm-6" id="aurora-background">

		<div class="col-sm-1"></div>

			<div class="col-sm-10"  id="note-background">


				<div class="note">

						<div class="row">
							<div class="header">
								<img class="icon" src="/static/images/aurora-icon.png"/>
								<h3 class="type">AURORA</h3>
							</div>
						</div>

						<div class="headline aurora-green">
							<h3>Low | 2</h3>
						</div>

						<div class="summary">
							<p>Auroral activity will be low. Weather permitting, low-level displays will be visible overhead in Barrow, Alaska, Tromsø, Norway and Tiksi, Russia, and visible low on the northern horizon from as far south as Winnipeg, Canada, Trondheim, Norway, and Igarka, Russia.</p>
						</div>
			
					<div class="post-time">
						Note generated: Dec. 3, 2014 at 9:00 AM
					</div>

					<div class="share">
						<div class="row" id="share">
						Share this update
						</div>
						
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3">Facebook</div>
							<div class="col-sm-3">Twitter</div>
							<div class="col-sm-3">Google+</div>
							<div class="col-sm-2"></div>
						</div>

					</div>

					<div class="attribution">
						<em>Information provided by the University of Alaska Fairbanks Geophysical Institute.</em>
					</div>

				</div>

			</div>

		<div class="col-sm-1"></div>

	</div>

	<!-- The aurora map. -->

	<div class="col-sm-6">		

		<!-- <div class="col-sm-1"></div> -->

			<div class="col-sm-12">

				<div class="row">
				</div>

				<div class="row">
					<div id="aurora_map">
						<img src="/static/images/aurora2.png">
					</div>
				</div>

			</div>

		<!-- <div class="col-sm-1"></div> -->

	</div>

</div>


{% endblock %}