<html>
    <head>
 
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,800,700,300,900,500,600' rel='stylesheet' type='text/css'>
        <link href="/static/note.css" rel="stylesheet">

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src=""><a class="navbar-brand" href="/">TERRA<strong>Note</strong></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                            <li><span class="quake-orange nav-link"><a href="/quakes">EARTHQUAKES</a></span></li>
                            <li><span class="fire-red nav-link"><a href="/fires"> FIRE </a></span></li>
                            <li><span class="volcano-yellow nav-link"><a href="/volcanoes"> VOLCANO </a></span></li>
                            <li><span class="weather-blue nav-link"><a href="/floods"> FLOOD </a></span></li>
                            <li><span class="winter-purple nav-link"><a href="/winterstorms"> WINTER STORMS </a></span></li>
                            <li><span class="aurora-green nav-link"><a href="/aurora"> AURORA </a></span></li>
                    </ul>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block head %}
        {% endblock %}
    
    </head>
    <body>

        {% block body %}
        {% endblock %}
    

    </body>
</html>
