{% extends 'base.html' %}
{% block body %}

	<div class="body">
		<div class"header">
			<img class="icon" src="/static/images/fire-icon.png"/>
			<h3 class="type">FIRE</h3>
		</div>

		<div class="headline">
			<h4></h4>
		</div>

		<div class="summary">
		

		</div> 

		<div class="post-time">
			Data recieved: MONTH DAY YEAR at TIME.
		</div>

		<div class="share">
		Share this update
		</div>

		<div class="attribution">
			<em>Information provided by Inciweb.</em>
		</div>

	</div>

{% endblock %}