{% extends 'base.html' %}

{% block head %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/mapstyles.js"></script>


<script type="text/javascript">

	function initialize() {

		var styles = MAPSTYLES;
                       
        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
            {name: "Styled Map"});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var mapOptions = {
            zoom: 5,
            center: new google.maps.LatLng(42.951, -114.255),
            zoomControl: false,
            panControl: false,
            streetViewControl: false,
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };
        var map = new google.maps.Map(document.getElementById('single-map'),
            mapOptions);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        
		var myLatlng = new google.maps.LatLng(42.951, -114.255)
			
        var red = '/static/images/red-marker16.png';		 
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			icon: red
		})
	}
			
			 
google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}


{% block body %}

<div class="notepage">

	<!-- The template for the fire note. -->

	<div class="col-sm-6" id="fire-background">

		<div class="col-sm-1"></div>

			<div class="col-sm-10"  id="note-background">

				<div class="note">

						<div class="row">
							<div class="header">
								<img class="icon" src="/static/images/fire-icon.png"/>
								<h3 class="type">FIRE</h3>
							</div>
						</div>

						<div class="headline fire-red">
							<h3>Dietrich Butte Fire</h3>
						</div>

						<div class="summary">
							<p>The Dietrich Butte Fire was ignited on Friday, June 27 by
							unknown causes. Approximately 3.5 miles north of Dietrich, Idaho,
							the fire consumed 3,195 acres of grass and brush. Forty personnel
							from Twin Falls Bureau of Land Management worked on containing the fire.</p>
						</div>
			
					<div class="post-time">
						Note generated: Dec. 3, 2014 at 9:00 AM
					</div>

					<div class="share">
						<div class="row" id="share">
						Share this update
						</div>
						
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3"><a href="">Facebook</a></div>
							<div class="col-sm-3"><a href="">Twitter</a></div>
							<div class="col-sm-3"><a href="">Google+</a></div>
							<div class="col-sm-2"></div>
						</div>

					</div>

					<div class="attribution">
						<em>Information provided by <a href="http://inciweb.nwcg.gov/incident/3913/">Inciweb</a>.</em>
					</div>

				</div>

			</div>

		<div class="col-sm-1"></div>

	</div>

	<!-- The fire map. -->

	<div class="col-sm-6">		

		<div class="row">

			<div id="single-map"></div>
				
		</div>

	</div>

</div>

{% endblock %}