{% extends 'base.html' %}
{% block head %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/mapstyles.js"></script>

<script type="text/javascript">

	function initialize() {

        var styles = MAPSTYLES;

	    // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
            {name: "Styled Map"});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var mapOptions = {
            zoom: 5,
            center: new google.maps.LatLng(44.936418, 3.788505),
            zoomControl: false,
            panControl: false,
            streetViewControl: false,
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };
        var map = new google.maps.Map(document.getElementById('single-map'),
            mapOptions);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        
		var myLatlng = new google.maps.LatLng(44.936418, 3.788505)
			
        var blue = '/static/images/blue-marker16.png';		 
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			icon: blue
		})
	}
			
			 
google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}
{% block body %}

<div class="notepage">

	<!-- The template for the flood note. -->

	<div class="col-sm-6" id="flood-background">

		<div class="col-sm-1"></div>

			<div class="col-sm-10"  id="note-background">


				<div class="note">

						<div class="row">
							<div class="header">
								<img class="icon" src="/static/images/flood-icon.png"/>
								<h3 class="type">FLOOD</h3>
							</div>
						</div>

						<div class="headline weather-blue">
							<h3>Sever Flooding | Southeastern France</h3>
						</div>

						<div class="summary">
							<p>More than 3,000 people have evacuated their homes as the region sees the worst flooding in decades. Officials report there have been 3 deaths attributed to the flooding. More than 12 inches of rain has fallen in some areas within the past week.</p>
						</div>
			
					<div class="post-time">
						Note generated: Nov. 30, 2014 at 11:43 PM
					</div>

					<div class="share">
						<div class="row" id="share">
						Share this update
						</div>
						
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3"><a href="">Facebook</a></div>
							<div class="col-sm-3"><a href="">Twitter</a></div>
							<div class="col-sm-3"><a href="">Google+</a></div>
							<div class="col-sm-2"></div>
						</div>

					</div>

					<div class="attribution">
						<em>Information provided by <a href="http://inciweb.nwcg.gov/incident/3913/">Inciweb</a>.</em>
					</div>

				</div>

			</div>

		<div class="col-sm-1"></div>

	</div>

	<!-- The flood map. -->

	<div class="col-sm-6">		

		<div class="row">

			<div id="single-map"></div>
				
		</div>

	</div>

</div>


{% endblock %}