{% extends 'base.html' %}
{% block head %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

	function initialize() {

		var locations = {{ top_ten|tojson|safe }}

		console.log(locations)
				
		var mapOptions = {
			center: new google.maps.LatLng(37, -122),
			zoom: 2,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		var infoWindow = new google.maps.InfoWindow();
		var map = new google.maps.Map(document.getElementById("ten-map"), mapOptions);

		var marker, i;

		for (var key in locations) {
			console.log("original locations:", locations[key])
			var myLatlng = new google.maps.LatLng(locations[key]['lng'],locations[key]['lat'])
			 	console.log("mylatlong:", myLatlng)
			 var event_title = locations[key]['title']
			 	console.log("event_title:",event_title)
		 	
			var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
		});
		}
		
		(function(marker, data) {

		// Attaching a click event to the current marker
			google.maps.event.addListener(marker, "click", function(e) {
				infoWindow.setContent(event_title);
				infoWindow.open(map, marker);
				});
		})(marker, data);
		//}
		
  	};//close initialize
 
google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}

{% block body %}

<!-- Column with Event Listing -->

<div class="col-sm-4" class="event-list">
	
	<div class="col-sm-1"></div>
		<div class="col-sm-10" class="event-list" id="userpoint">
			<div class="row">
				<div id="recent-events">Recent Events</div>
			</div>
			<!-- <div class="row">
				<button onClick="getRecent()" name"recentquake" class="btn btn-default" id="sort-button">Sort by Time</button>

				<button onclick="getLocation()" name="userlocate" class="btn btn-default" id="distance-sort">Sort by Location</button>
			</div> -->
			
			<div class="row">
				
				{% for quake in recent_quakes %}
					<div class="quake-list">
						<img class="small-icon" src="/static/images/quake-icon.png"/>
						<div class="recent-title"><a href="/quakes/{{ quake.quake_id }}">{{ quake.quake_title }}</a></div>
						<div class="recent-datetime">{{ quake.quake_datetime.strftime('%b %d, %Y at %I:%M %p') }}</div>
					</div>
				{% endfor %}

			</div>

			<!-- <div class="row">
				<button onClick="/quakes" name"allquakes" class="btn btn-default">See All Events</button>
			<div> -->

		</div>
	<div class="col-sm-1"></div>
</div>

<!-- Column with Map of 10 Most Recent Events -->

<div class="col-sm-8" class="event-map" id="ten-map">

</div>

{% endblock %}