{% extends 'base.html' %}
{% block body %}

	<div class="body">
		<div class"header">
			<img class="icon" src="/static/images/quake-icon.png"/>
			<h3 class="type">EARTHQUAKE</h3>
		</div>

		<div class="headline">
			<h4>{{ quake.title }}</h4>
		</div>

		<div class="summary">
			<p>A {{ quake.magnitude }} earthquake struck {{ quake.place }} on (<em>day of the week</em>). The quake hit at {{ quake.time }}.

			<p>The shallow quake occurred {{ quake.depth }} km below the ground.</p>

			<p>For more information from the USGS click <a href="{{ quake.url }}">here.</a></p>
		</div> 

		<div class="post-time">
			Data recieved: MONTH DAY YEAR at TIME.
		</div>

		<div class="share">
		Share this update
		</div>

		<div class="attribution">
			<em>Information provided by the USGS.</em>
		</div>

	</div>

{% endblock %}