{% extends 'base.html' %}
{% block head %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</script>


<script type="text/javascript">

	function initialize() {

		var mapOptions = {
			center: new google.maps.LatLng(37, -122),
			zoom: 2,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		var map = new google.maps.Map(document.getElementById("quakes-canvas"), mapOptions);
		



		var locations = {{ quake_points|tojson|safe }}

		console.log(locations)

		var marker, i;

		for (var key in locations) {
			var myLatlng = new google.maps.LatLng(locations[key]['lng'],locations[key]['lat'])
			 	console.log("mylatlong:", myLatlng)
			 var event_title = locations[key]['title']
			 	console.log("event_title:",event_title)
			 var event_id = locations[key]['id']
			 	console.log("event_id:", event_id)
					 	
			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: event_title,
				url: event_id

			})
			// Attaching a click event to the current marker
			google.maps.event.addDomListener(marker, "click", function(e) { debugger;
			  window.location.href = '/quakes/' + this.url;
			});
		}
	}
			
			 
google.maps.event.addDomListener(window, 'load', initialize);

</script>



{% endblock %}
{% block body %}

<div class="col-sm-4">

	<div class="quake-list">

		Quakes:

		{% for quake in quakes %}
			
		<div class="quake-list">
			<img class="small-icon" src="/static/images/quake-icon.png"/>
			<div class="recent-title"> <a href="/quakes/{{ quake.quake_id }}">{{ quake.quake_title }}</a> </div><div class="recent-datetime"> {{ quake.quake_datetime.strftime('%b %d, %Y at %I:%M %p') }}</div>
		</div>
			
			
		{% endfor %}

	</div>

</div>

<div class="col-sm-8">

	<div id="quakes-canvas"></div>

</div>

{% endblock %}