{% extends 'base.html' %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js"></script>

    <script>
      function initialize() {

      	var styles = [
        { 
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [ 
                { 
                    "color": "#04162b"
                }
            ] 
        },
        { 
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [ 
        { 
                "visibility": "simplified"
        }, 
        { 
                "color": "#cccccc"
        }
            ]
        },
        { 
            "featureType": "water",
            "elementType": "labels.icon",
            "stylers": [
                { 
                "visibility": "simplified"
                },
                { 
                "color": "#FFFFFF"
                }
            ]
        },
        { 
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#808080"
                }
            ]
        },
        {
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        { 
            "featureType": "landscape.natural.landcover",
            "elementType": "geometry.fill",
            "stylers": [
                { 
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "landscape.natural.terrain",
            "elementType": "geometry.fill",
            "stylers": [ 
                {
                    "color": "#000b17"
                }
            ]
        },
        {   
            "featureType": "administrative",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#808080"
                },
                {   
                    "visibility": "off"
                }
            ]
        },
        { 
            "featureType": "landscape.man_made",
            "stylers": [ 
                {
                    "color": "#000b17"
                }
            ]
        },
        {   
            "featureType": "poi.business",
            "stylers": [
                { 
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "poi.attraction",
            "stylers": [ 
                { 
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "landscape",
            "stylers": [
                {
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "poi",
            "stylers": [ 
                {
                    "color": "#000b17"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "stylers": [ 
                {
                    "visibility": "on"
                },
                {   
                    "color": "#282828" 
                }
            ]
        },
        { 
            "featureType": "administrative.province",
            "elementType": "labels.text.fill",
            "stylers": [ 
                {
                    "visibility": "off"
                }, 
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road",
            "stylers": [ 
                {
                    "visibility": "off"
                }
            ]
        },
        { 
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [ 
                {
                    "color": "#0a4e6f"
                }
            ]
        },
        {
            "featureType": "administrative.country",
            "stylers": [ 
                {
                    "color": "#0a4e6f"
                }
            ]
        },
        { 
            "featureType": "administrative.country",
            "elementType": "geometry.fill"
        }
            ]

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
            {name: "Styled Map"});



        var myLatlng = new google.maps.LatLng({{ quake.longitude }}, {{ quake.latitude }})

      	var mapCanvas = document.getElementById('quake-map');

		// Create a map object, and include the MapTypeId to add
        // to the map type control.

        var mapOptions = {
		    center: myLatlng,          
		    zoom: 4,
		    zoomControl: false,
		    panControl: false,
		    streetViewControl: false,
		    // mapTypeId: google.maps.MapTypeId.TERRAIN,
		    mapTypeControlOptions: {
		        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
		    }
        };

        var map = new google.maps.Map(mapCanvas, mapOptions);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        
        var marker = new google.maps.Marker({
	     	position: myLatlng,
	     	icon: getCircle({{ quake.magnitude }})
      	});
      	marker.setMap(map);
      }

      function getCircle(magnitude) {
  		return {
		    path: google.maps.SymbolPath.CIRCLE,
		    fillColor: 'red',
		    fillOpacity: .5,
		    scale: Math.pow(2, magnitude) / Math.PI,
		    strokeColor: 'white',
		    strokeWeight: .5
		};
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}
{% block body %}

<div class="notepage">

	<!-- The template for the quake note. -->

	<div class="col-sm-6" id="quake-background">

		<div class="col-sm-1"></div>

			<div class="col-sm-10"  id="note-background">


				<div class="note">

					{% if quake.seismictype == 'earthquake' %}
						<div class="row">
							<div class="header">
								<img class="icon" src="/static/images/quake-icon.png"/>
								<h3 class="type">EARTHQUAKE</h3>
							</div>
						</div>

						<div class="headline quake-orange">
							<h4>{{ quake.quake_title }}</h4>
						</div>

						<div class="summary">
							<p>A {{ quake.magnitude }} earthquake struck {{ quake.quake_datetime.strftime('%A') }}, {{ quake.quake_datetime.strftime('%b. %d') }} approximately {{ quake.place }}. The rumbling was detected at {{ quake.quake_datetime.strftime('%I:%M %p') }}.
								{% if quake.depth <= 70 %}
									<p>The shallow quake occurred {{ quake.depth }} kilometers below the ground.</p>
									{% elif quake.depth > 300 %}
									<p>The deep quake occurred {{ quake.depth }} kilometers below the earth's surface.</p>
									{% else %}
									<p>The quake happened {{ quake.depth }} kilometers below the ground.</p>
								{% endif %}

							<div class="tsunami">
								{% if quake.tsunami == 1 %}
								<p>Due to the quake's magnitude and location, the USGS recommends being aware of the possibility of a tsunami. For the most recent information on tsunami watches and warnings, visit the <a href="http://www.tsunami.gov/">NOAA Tsunami Warning Center</a>.
								{% endif %}
							</div>

							<div class="review_status">
								{% if quake.status == 'automatic' %} 
								<p>This note is based off of computer-generated data and has not yet been reviewed by a seismologist.</p>
								{% else %}
								<p>This note is based off of data that has been reviewed by a seismologist.</p>
								{% endif %}
								<p>For more information from the USGS, click <a href="{{ quake.url }}">here.</a></p>
							</div> 
						</div>

					{% elif quake.seismictype == 'quarry' %}

						<div class"header">
							<img class="icon" src="/static/images/quake-icon.png"/>
							<h3 class="type">QUARRY BLAST</h3>
						</div>

						<div class="headline quake-orange">
							<h4>{{ quake.quake_title }}</h4>
						</div>

						<div class="summary">
							<p>A {{ quake.magnitude }} shake was felt {{ quake.quake_datetime.strftime('%A') }} approximately {{ quake.place }}. The rumbling was felt at {{ quake.quake_datetime.strftime('%I:%M %p') }}.
								{% if quake.depth <= 70 %}
									<p>The shallow shaking occurred {{ quake.depth }} kilometers below the ground.</p>
								{% elif quake.depth > 300 %}
									<p>The deep shaking occurred {{ quake.depth }} kilometers below the earth's surface.</p>
								{% else %}
								{% endif %}
							<div class="review_status">
								{% if quake.status == 'automatic' %} 
								<p>This note is based off of computer-generated data and has not yet been reviewed by a seismologist.</p>
								{% else %}
								<p>This note is based off of data that has been reviewed by a seismologist.</p>
								{% endif %}
								</div>
								<p>For more information from the USGS, click <a href="{{ quake.url }}">here.</a></p>
							</div> 
						
						{% endif %}

					<div class="post-time">
						Note generated: {{ quake.recordtime.strftime('%b %d, %Y at %I:%M %p') }}.
					</div>

					<div class="share">
						<div class="row" id="share">
						Share this update
						</div>
						
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3">Facebook</div>
							<div class="col-sm-3">Twitter</div>
							<div class="col-sm-3">Google+</div>
							<div class="col-sm-2"></div>
						</div>

					</div>

					<div class="attribution">
						<em>Information provided by the USGS.</em>
					</div>

				</div>

			</div>

		<div class="col-sm-1"></div>

	</div>

	<!-- The quake map. -->

	<div class="col-sm-6">		

			<div class="row">
				<div id="quake-map"></div>
			</div>

	</div>

	
</div>



{% endblock %}