{% extends 'base.html' %}
{% block head %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</script>


<script type="text/javascript">

	function initialize() {

		var styles = [
        { 
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [ 
                { 
                    "color": "#04162b"
                }
            ] 
        },
        { 
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [ 
        { 
                "visibility": "simplified"
        }, 
        { 
                "color": "#cccccc"
        }
            ]
        },
        { 
            "featureType": "water",
            "elementType": "labels.icon",
            "stylers": [
                { 
                "visibility": "simplified"
                },
                { 
                "color": "#FFFFFF"
                }
            ]
        },
        { 
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#808080"
                }
            ]
        },
        {
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        { 
            "featureType": "landscape.natural.landcover",
            "elementType": "geometry.fill",
            "stylers": [
                { 
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "landscape.natural.terrain",
            "elementType": "geometry.fill",
            "stylers": [ 
                {
                    "color": "#000b17"
                }
            ]
        },
        {   
            "featureType": "administrative",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#808080"
                },
                {   
                    "visibility": "off"
                }
            ]
        },
        { 
            "featureType": "landscape.man_made",
            "stylers": [ 
                {
                    "color": "#000b17"
                }
            ]
        },
        {   
            "featureType": "poi.business",
            "stylers": [
                { 
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "poi.attraction",
            "stylers": [ 
                { 
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "landscape",
            "stylers": [
                {
                    "color": "#000b17"
                }
            ]
        },
        { 
            "featureType": "poi",
            "stylers": [ 
                {
                    "color": "#000b17"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "stylers": [ 
                {
                    "visibility": "on"
                },
                {   
                    "color": "#282828" 
                }
            ]
        },
        { 
            "featureType": "administrative.province",
            "elementType": "labels.text.fill",
            "stylers": [ 
                {
                    "visibility": "off"
                }, 
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road",
            "stylers": [ 
                {
                    "visibility": "off"
                }
            ]
        },
        { 
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [ 
                {
                    "color": "#0a4e6f"
                }
            ]
        },
        {
            "featureType": "administrative.country",
            "stylers": [ 
                {
                    "color": "#0a4e6f"
                }
            ]
        },
        { 
            "featureType": "administrative.country",
            "elementType": "geometry.fill"
        }
            ]
        
        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
            {name: "Styled Map"});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(64.3850, -154.2683),
            zoomControl: false,
            panControl: false,
            streetViewControl: false,
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };
        var map = new google.maps.Map(document.getElementById('single-map'),
            mapOptions);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        
		var myLatlng = new google.maps.LatLng(58.3000, -134.4167)
			
        var purple = '/static/images/purple-marker16.png';		 
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			icon: purple
		})
	}
			
			 
google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}
{% block body %}

<div class="notepage">

	<!-- The template for the winterstorm note. -->

	<div class="col-sm-6" id="winter-background">

		<div class="col-sm-1"></div>

			<div class="col-sm-10"  id="note-background">

				<div class="note">

						<div class="row">
							<div class="header">
								<img class="icon" src="/static/images/winter-icon.png"/>
								<h3 class="type">WINTER STORM</h3>
							</div>
						</div>

						<div class="headline winter-purple">
							<h3>Winter Storm Warning | Juneau</h3>
						</div>

						<div class="summary">
							<p>A winter storm warning remains in effect until midnight Alaska time. Snowfall will decrease in intensity through late Sunday night with an accumulation of 6 to 14 inches. Snowfall rates may exceed 1 inch per hour at timess. This is the first significant snow of the season and will result in difficult travel conditions.</p>
						</div>
			
					<div class="post-time">
						Note generated: Dec. 3, 2014 at 9:00 AM
					</div>

					<div class="share">
						<div class="row" id="share">
						Share this update
						</div>
						
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3"><a href="">Facebook</a></div>
							<div class="col-sm-3"><a href="">Twitter</a></div>
							<div class="col-sm-3"><a href="">Google+</a></div>
							<div class="col-sm-2"></div>
						</div>

					</div>

					<div class="attribution">
						<em>Information provided by the National Weather Service.</em>
					</div>

				</div>

			</div>

		<div class="col-sm-1"></div>

	</div>

	<!-- The winterstorm map. -->

	<div class="col-sm-6">		

		<div class="row">

			<div id="single-map"></div>
				
		</div>

	</div>

</div>

{% endblock %}